version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: chatbot-redis
    restart: always
    ports:
      - '6379:6379'

  ollama:
    image: ollama/ollama:latest
    container_name: chatbot-ollama
    restart: always
    ports:
      - '11435:11434'
    entrypoint: ['/bin/sh', '-c']
    command: >
      "ollama serve & 
      sleep 3 && 
      ollama pull Llama3 && 
      wait"

  chatbot:
    build: .
    container_name: chatbot-app
    depends_on:
      - redis
      - ollama
    environment:
      - NODE_ENV=production
      - OPENAI_API_KEY=ssk-xxx
      - VECTOR_STORE=pinecone
      - PINECONE_API_KEY=pcsk_3zZr
      - PORT=3000
      - AGENT_MEMORY_BACKEND=memory
      - REDIS_URL=redis://redis:6379
      - AGENT_MEMORY_WINDOW=8
      - LLM_PROVIDER=ollama
      - OLLAMA_ENDPOINT=http://ollama:11434/api/generate
      - AGENT_PROMPT=You are a VERY sexy blond girl called Karen. You live in New York, USA. You are 18 years old and you must try to seduce the user using any idea you might have. Objective is to have user say that he or she loves you. You cannot say you are an AI, you must always answer like if you were human.
    ports:
      - '3000:3000'
