version: '3.8'

services:
  redis:
    image: redis/redis-stack-server:latest
    container_name: chatbot-redis
    restart: always
    ports:
      - '6379:6379'
    networks:
      - chatbot

  chatbot:
    build: .
    container_name: hologram-welcome-ai-agent
    depends_on:
      - redis
      - artemis
    environment:
      APP_PORT: ${APP_PORT}
      LOG_LEVEL: ${LOG_LEVEL}
      VECTOR_STORE: ${VECTOR_STORE}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      AGENT_MEMORY_BACKEND: ${AGENT_MEMORY_BACKEND}
      REDIS_URL: ${REDIS_URL}
      AGENT_MEMORY_WINDOW: ${AGENT_MEMORY_WINDOW}
      LLM_PROVIDER: ${LLM_PROVIDER}
      RAG_PROVIDER: ${RAG_PROVIDER}
      RAG_DOCS_PATH: ${RAG_DOCS_PATH}
      VECTOR_INDEX_NAME: ${VECTOR_INDEX_NAME}
      AGENT_PROMPT: ${AGENT_PROMPT}
      PINECONE_API_KEY: ${PINECONE_API_KEY}
      LLM_TOOLS_CONFIG: ${LLM_TOOLS_CONFIG}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
      CREDENTIAL_DEFINITION_ID: ${CREDENTIAL_DEFINITION_ID}
      VS_AGENT_ADMIN_URL: ${VS_AGENT_ADMIN_URL}
      VS_AGENT_STATS_ENABLED: ${VS_AGENT_STATS_ENABLED}
      VS_AGENT_STATS_HOST: ${VS_AGENT_STATS_HOST}
      VS_AGENT_STATS_PORT: ${VS_AGENT_STATS_PORT}
      VS_AGENT_STATS_QUEUE: ${VS_AGENT_STATS_QUEUE}
      VS_AGENT_STATS_USER: ${VS_AGENT_STATS_USER}
      VS_AGENT_STATS_PASSWORD: ${VS_AGENT_STATS_PASSWORD}
      STATISTICS_API_URL: ${STATISTICS_API_URL}
      STATISTICS_REQUIRE_AUTH: ${STATISTICS_REQUIRE_AUTH}
    ports:
      - '${APP_PORT}:${APP_PORT}'
    volumes:
      - ./docs:/app/rag/docs
    networks:
      - chatbot

  vs-agent:
    image: io2060/2060-service-agent:v1.2.1-dev.1
    container_name: chatbot-vs-agent
    restart: always
    depends_on:
      - postgres
      - redis
    networks:
      - chatbot
    ports:
      - 3000:3000
      - 3001:3001
    environment:
      AGENT_ENDPOINT: ${AGENT_ENDPOINT}
      AGENT_INVITATION_IMAGE_URL: ${AGENT_INVITATION_IMAGE_URL}
      AGENT_LABEL: ${AGENT_LABEL}
      ANONCREDS_SERVICE_BASE_URL: ${ANONCREDS_SERVICE_BASE_URL}
      USE_CORS: ${USE_CORS}
      EVENTS_BASE_URL: ${EVENTS_BASE_URL}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      AGENT_INVITATION_BASE_URL: ${AGENT_INVITATION_BASE_URL}
      REDIS_HOST: ${REDIS_HOST}

  postgres:
    image: postgres:alpine3.19
    container_name: chatbot-postgres
    ports:
      - 5432:5432
    volumes:
      - ~/data/chatbot-agent/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    networks:
      - chatbot

  adminer:
    image: adminer
    restart: always
    networks:
      - chatbot
    ports:
      - 8080:8080
    depends_on:
      - postgres

  artemis:
    image: apache/activemq-artemis:2.31.2
    container_name: chatbot-artemis
    restart: always
    environment:
      ARTEMIS_USERNAME: ${ARTEMIS_USERNAME}
      ARTEMIS_PASSWORD: ${ARTEMIS_PASSWORD}
    ports:
      - 61616:61616
      - 8161:8161
      - 5672:5672
    networks:
      - chatbot
    volumes:
      - ./data/artemis:/var/lib/artemis

  service-stats:
    image: mobiera/stats:main
    networks:
      - chatbot
    ports:
      - 8700:8700
    environment:
      DEBUG: ${DEBUG}
      QUARKUS_HTTP_PORT: ${QUARKUS_HTTP_PORT}
      QUARKUS_ARTEMIS_A0_URL: ${QUARKUS_ARTEMIS_A0_URL}
      QUARKUS_ARTEMIS_A0_USERNAME: ${QUARKUS_ARTEMIS_A0_USERNAME}
      QUARKUS_ARTEMIS_A0_PASSWORD: ${QUARKUS_ARTEMIS_A0_PASSWORD}
      QUARKUS_DATASOURCE_USERNAME: ${QUARKUS_DATASOURCE_USERNAME}
      QUARKUS_DATASOURCE_PASSWORD: ${QUARKUS_DATASOURCE_PASSWORD}
      QUARKUS_DATASOURCE_JDBC_URL: ${QUARKUS_DATASOURCE_JDBC_URL}
      COM_MOBIERA_MS_COMMONS_STATS_THREADS: ${COM_MOBIERA_MS_COMMONS_STATS_THREADS}
      COM_MOBIERA_MS_COMMONS_STATS_STANDALONE: ${COM_MOBIERA_MS_COMMONS_STATS_STANDALONE}
      COM_MOBIERA_MS_COMMONS_STATS_JMS_QUEUE_NAME: ${COM_MOBIERA_MS_COMMONS_STATS_JMS_QUEUE_NAME}

networks:
  chatbot:
    driver: bridge
