version: '3.8'

services:
  redis:
    image: redis/redis-stack-server:latest
    container_name: chatbot-redis
    restart: always
    ports:
      - '6379:6379'
    networks:
      - chatbot

  chatbot:
    build: .
    container_name: hologram-welcome-ai-agent-vs_chatbot
    depends_on:
      - redis
    environment:
      APP_PORT: ${APP_PORT}
      LOG_LEVEL: ${LOG_LEVEL}
      VECTOR_STORE: ${VECTOR_STORE}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      AGENT_MEMORY_BACKEND: ${AGENT_MEMORY_BACKEND}
      REDIS_URL: ${REDIS_URL}
      AGENT_MEMORY_WINDOW: ${AGENT_MEMORY_WINDOW}
      LLM_PROVIDER: ${LLM_PROVIDER}
      RAG_PROVIDER: ${RAG_PROVIDER}
      RAG_DOCS_PATH: ${RAG_DOCS_PATH}
      VECTOR_INDEX_NAME: ${VECTOR_INDEX_NAME}
      AGENT_PROMPT: ${AGENT_PROMPT}
      PINECONE_API_KEY: ${PINECONE_API_KEY}
      TOOLS_CONFIG: ${TOOLS_CONFIG}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
      CREDENTIAL_DEFINITION_ID: ${CREDENTIAL_DEFINITION_ID}
      VS_AGENT_STATS_ENABLED: ${VS_AGENT_STATS_ENABLED}
      SERVICE_AGENT_ADMIN_URL: ${SERVICE_AGENT_ADMIN_URL}
    ports:
      - '${APP_PORT}:${APP_PORT}'
    volumes:
      - ./docs:/app/rag/docs
    networks:
      - chatbot

  service-agent:
    image: io2060/2060-service-agent:v1.2.1-dev.1
    container_name: chatbot-service-agent
    restart: always
    depends_on:
      - postgres
      - redis
    networks:
      - chatbot
    ports:
      - 3000:3000
      - 3001:3001
    environment:
      AGENT_ENDPOINT: ${AGENT_ENDPOINT}
      AGENT_INVITATION_IMAGE_URL: ${AGENT_INVITATION_IMAGE_URL}
      AGENT_LABEL: ${AGENT_LABEL}
      ANONCREDS_SERVICE_BASE_URL: ${ANONCREDS_SERVICE_BASE_URL}
      USE_CORS: ${USE_CORS}
      EVENTS_BASE_URL: ${EVENTS_BASE_URL}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      AGENT_INVITATION_BASE_URL: ${AGENT_INVITATION_BASE_URL}
      REDIS_HOST: ${REDIS_HOST}

  postgres:
    image: postgres:alpine3.19
    container_name: chatbot-postgres
    ports:
      - 5432:5432
    volumes:
      - ~/data/chatbot-agent/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    networks:
      - chatbot

  adminer:
    image: adminer
    restart: always
    networks:
      - chatbot
    ports:
      - 8080:8080
    depends_on:
      - postgres

networks:
  chatbot:
    driver: bridge
